body{
    background-image: url("hatter.jpg");
    color: white;
}
h1{
    text-align: center;
    text-decoration: underline;
}
#def{
    float: left;
    text-align: left;
}

#kep1{
    width: 40%;
}
p{
    text-align: justify;
}
h2{
    text-decoration: underline;
}
#defender1{  
    transition: transform .2s; 
}
#defender1:hover{
    transform: scale(2);
        
}
#esettxt{
    text-align:right;
    
}
#jobb{
   text-align:right;

}

#eset{  
    transition: transform .2s; 
}
#eset:hover{
    transform: scale(2);
}



