body{
    background-image: url("hatter.jpg");
    color: white;
}
h1{
    text-align: center;
    text-decoration: underline;
}
#def{
    float: left;
    text-align: left;
}
#fergek{

}
#kep1{
    width: 30%;
}