body{
    background-image: url("hatter.jpg");
    color: white;
}
h1{
    text-align: center;
    text-decoration: underline;
}
#def{
    float: left;
    text-align: left;
}

#kep1{
    width: 40%;
}
p{
    text-align: justify;
}
h2{
    text-decoration: underline;
}