body{
    background-image: url("hatter.jpg");
    color: white;
}
h1{
    text-align: center;
    text-decoration: underline;
}
p{
    text-align: justify;
}
h2{
    text-decoration: underline;
}
#windowsdef{
    border-radius: 20px;
}
#vissza{  
    transition: transform .2s; 
}
#vissza:hover{
    transform: scale(2);
        
}
#back{
    font-size: 30px;
}